
:root {
  --primary-color: #cd3f3f;
  --secondary-color: #ecf0f1;
  --accent-color: #4ba451;
  --container-max-width: 800px;
  --container-padding: 20px;
  --container-background: #fff;
  --font-family: 'Comfortaa', cursive;
}

body {
  font-family: var(--font-family);
  background-image: url('back2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

th, td {
  text-align: left;
  padding: 16px 20px;
}

th {
  background-color: #cd3f3f;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tr:hover td {
  background-color: var(--accent-color);
  color: #fff;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
  background-color: var(--container-background);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: var(--font-family); 
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #c64343;
  color: #fff; 
}

button:hover {
  background-color: #48d23e; 
}

/* Стили для input */
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

select:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}

